.App {
  text-align: center;
  width: 100%;
}

.container {
  width: 75%;
  margin: 4rem auto;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 1rem;
}

.reset-button {
  padding: 0.25rem 1rem;
  min-width: 7em;
  margin: 0 0.5rem 0 0;
  cursor: pointer;
}

.table-container {
  width: 100%;
  text-align: left;
  border: 1px solid rgb(49, 49, 49);
  border-collapse: collapse;
}

.table-head,
.table-body {
  border: 1px solid rgb(49, 49, 49);
}

.table-head>tr>th {
  border: 1px solid rgb(49, 49, 49);
  padding: 0.5rem;
  background-color: rgb(77, 77, 77);
  color: white;
  width: 20%;
}

.table-body>tr>td {
  border: 1px solid rgb(49, 49, 49);
  padding: 0; /* Removed padding */
  margin: 0 !important;
}

.actions-cell {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 0.5rem !important;
}

.actions-cell>button {
  padding: 0.25rem 1rem;
  min-width: 7em;
  max-width: 7em;
  margin: 0 0.5rem 0 0;
  cursor: pointer;
}

.input-cell {
  padding: 0; /* Ensure there's no padding in the cell */
  margin: 0;
}

.full-size-input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 0.5rem; /* Padding inside the input for spacing */
  box-sizing: border-box; /* Ensure padding is included in the width/height */
  outline: none;
  border: none;
}

.data-row > td {
  padding: 0.5rem !important;
  font-size: 1rem !important;
}